@model RoleTop.ViewModels.HistoricoViewModel
@{
    ViewData["Title"] = "Orcamentos - RoleTop";
    ViewData["H2"] = "Histórico de Orcamentos";
}
<main>
    <h2>@ViewData["H2"]</h2>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Evento</th>
                <th>Pacote Servicos</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            @foreach( var orcamento in Model.Orcamentos ) {
                <tr>
                    <td>@orcamento.DataDoOrcamento</td>
                    <td>@orcamento.Evento.Nome</td>
                    <td>@orcamento.PacoteServicos.Nome</td>
                    <td>@orcamento.PrecoTotal</td>
                </tr>
            }
        </tbody>
    </table>

</main>