@model RoleTop.ViewModels.HistoricoViewModel
@{
    ViewData["Title"] = "Orcamentos - RoleTop";
    ViewData["H2"] = "Histórico de Orcamentos";
}
<main>
    <h2>@ViewData["H2"]</h2>
    <table>
        <thead>
            <tr>
                <th>Data Solicitado</th>
                <th>Data do Evento</th>
                <th>Evento</th>
                <th>Pacote Servicos</th>
                <th>Preço</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach( var orcamento in Model.Orcamentos) {
                <tr>
                    <td><p>@orcamento.DataDoOrcamento</p></td>
                    <td><p>@orcamento.DataDoEvento</p></td>
                    <td><p>@orcamento.Evento.Nome</p></td>
                    <td><p>@orcamento.PacoteServicos.Nome</p></td>
                    <td><p>@orcamento.PrecoTotal</p></td>
                    @if(@orcamento.Status ==0){
                        <td><p>PENDENTE</p></td>
                    }
                    else if(@orcamento.Status ==1){
                        <td><p>APROVADO</p></td>
                    }
                    else if(@orcamento.Status ==2){
                        <td><p>REPROVADO</p></td>
                    }
                </tr>
            }
        </tbody>
    </table>

</main>