@model RoleTop.ViewModels.DashboardViewModel
    <main>
        <h2>Dashboard</h2>
        <section id="status-orcamentos">
            <h3>Status dos Orçamentos</h3>
            <div id="painel">
                <div class="box-status-orcamentos aprovados">
                    <h4>Aprovados</h4>
                    <p>@Model.OrcamentosAprovados</p>
                </div>
                <div class="box-status-orcamentos pendentes">
                    <h4>Pendentes</h4>
                    <p>@Model.OrcamentosPendentes</p>
                </div>
                <div class="box-status-orcamentos reprovados">
                    <h4>Reprovados</h4>
                    <p>@Model.OrcamentosReprovados</p>
                </div>
            </div>
        </section>

        <section id="lista-orcamentos">
            <h3>Lista de orçamentos</h3>
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">Nome</th>
                        <th rowspan="2">Endereço</th>
                        <th colspan="5">Orçamento</th>
                        <th colspan="2" rowspan="2">Aprovar</th>
                    </tr>
                    <tr>
                        <th>Data Evento</th>
                        <th>Evento</th>
                        <th>PacoteServicos</th> 
                        <th>TipoEvento</th>
                        <th>FormaPagamento</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="9">
                            Pedidos atualizados em @DateTime.Now
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                        @foreach (var orcamento in Model.Orcamentos)
                        {
                        <tr>
                        <td><p>@orcamento.Cliente.Nome</p></td>
                        <td><p>@orcamento.Cliente.Endereco</p></td>
                        <td><p>@orcamento.DataDoEvento</p></td>
                        <td><p>@orcamento.Evento.Nome</p></td>
                        <td><p>@orcamento.PacoteServicos.Nome</p></td>
                        <td><p>@orcamento.TipoEvento</p></td>
                        <td><p>@orcamento.FormaPagamento</p></td>
                        <td><a href='@Url.Action("Aprovar", "Orcamento", new {id = @orcamento.Id})'><i class="fas fa-check"></i></a></td>
                        <td><a href='@Url.Action("Reprovar", "Orcamento", new {id = @orcamento.Id})'><i class="fas fa-times"></i></a></td>
                        </tr>
                        }
                </tbody>
            </table>
        </section>

    </main>